
.libcal-library-hours h3 {
  color: #e31837;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}
.libcal-library-hours .heading {
   padding: 10px 15px 10px 0;
}
.libcal-library-hours .heading a {
  text-align: right;
  vertical-align: middle;
 float:right;
}
.libcal-library-hours h4 {
  text-transform: none;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
  font-size: 1em;
}
.libcal-library-hours .section {
  padding: 10px;
}
.libcal-library-hours .today_date {
  color: #e31837;
}
.dept-container { margin-bottom: 5px; }
.dept-container .hidden {
  display: none;
}
#content .dept-flex .flex-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
}
#content .dept-flex .flex-row:nth-child(odd) { background: #eee; }
#content .dept-flex .date,
#content .dept-flex .day,
#content .dept-flex .hours {
  font-size: 16px;
  flex-grow: 1;
}
#content .dept-flex .date { min-width: 25%;}
#content .dept-flex .day {width: 40%; font-weight: bold; }
#content .dept-flex .hours { }
#content .dept-container {
  border-right: 1px solid #eee;
}
.libcal-library-hours .arrows a {
  padding: 10px;
  font-size: 16px;
  background-color: #eee;
  color: #333;
  float: center;
}
.libcal-library-hours .arrows a:hover { border-bottom: none; }
.libcal-library-hours .arrows #left_arrow { float: left; }
.libcal-library-hours .arrows #right_arrow { float: right; }
@media (min-width: 785px) {
  .libcal-library-hours .arrows { padding: 0 25%; }
}
